<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SmartTerraWebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="managemode">
                <span style="margin-right: 14px" class="icon" aria-hidden="true"><i class="fas fa-magic" style='font-size:17.6px'></i></span> Manage Mode
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devicejob">
                <span style="margin-right: 14px" class="icon"><i class="far fa-paper-plane " style='font-size:17.6px'></i></span> Set Jobs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="viewdeviceproperties">
                <span style="margin-right: 14px" class="icon" aria-hidden="true"><i class="fas fa-seedling" style='font-size:17.6px'></i></span> Device Properties
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
